@{
    ViewData["Title"] = "Home Page";
    int counter = 0;
    var categories = Model as List<Category>;
}

<h1 class="h1">Skelbimų kategorijos</h1>
@while (true)
{
    if (counter >= Model.Count)
    {
        break;
    }
    <div class="row equal-height">
        @for (int i = 0; i < 4; i++)
        {
            if (counter >= Model.Count)
            {
                break;
            }
            <div class="col-sm-3 category-list-block">
                <h3><a class="cat" style="font-size: large" asp-action="Index" asp-controller="Listings" asp-route-id="@Model[counter].Id" asp-route-type="Category">@Model[counter].Name</a></h3>
                <ul>
                    @foreach (var subCat in Model[counter].Subcategory)
                    {
                        <li>
                            <a class="subcat" asp-action="Index" asp-controller="Listings" asp-route-id="@subCat.Id" asp-route-type="Subcategory">@subCat.Name</a>
                        </li>
                    }
                </ul>
            </div>
            counter++;
        }
    </div>
}


<script type="text/javascript">
    $(".cat").click((e) => {
        localStorage.setItem("category", e.target.innerHTML);
    })
    $(".subcat").click((e) => {
        localStorage.setItem("category", e.target.parentElement.parentElement.parentElement.getElementsByClassName("cat")[0].innerHTML);
        localStorage.setItem("subcategory", e.target.innerHTML)
    })
</script>