@using Microsoft.AspNetCore.Identity

@inject UserManager<ApplicationUser> UserManager


@*
        Administratoriaus navigacijos juosta
*@

@if (User.IsInRole("Admin"))
{
    <li class="nav-item">
        <a class="nav-link" asp-area="" asp-controller="Listings" asp-action="UncomfirmedListings">Skelbimu patvirtinimas</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" asp-area="" asp-controller="Messages" asp-action="CreateAdmin">Žinutės visiem</a>
    </li>
}
else
{

}
