<form method="get" asp-action="Index" asp-controller="Listings" asp-route-test="asd">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <input type="text" class="form-control" value="" name="key"/>
        <span>
            <button type="submit" class="btn btn-success border" />Ieškoti</button>
        </span>
        <input type="hidden" value="Search" name="type" />
     </nav>
</form>