<form method="get" asp-action="Index" asp-controller="Listings" asp-route-test="asd">
    <div class="form-group d-flex justify-content-center bg-dark">
        <input type="text" class="form-control" value="" name="key" style="max-width: 50%" />
        <span>
            <button type="submit" class="btn btn-success border"/>Ieškoti</button>
        </span>
        <input type="hidden" value="Search" name="type" />
    </div>
</form>