@using Microsoft.AspNetCore.Identity
@using AdvertSite.Controllers
@using AdvertSite.Models

@inject UserManager<ApplicationUser> UserManager

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script type="text/javascript">
    function updateUnreadCount()
    {
        $.ajax({
            type: "POST",
            url: '@Url.Action("UpdateUnreadMessageCount", "Messages")',
            async: false,
            success: function (result) {
                var color = result > 0 ? "red" : "light_grey";
                $('#unreadCount').html(result);
                $('#unreadCount').css('background-color', color);
            }
        })
    }

    $(document).ready(function () {
        updateUnreadCount();
    });

</script>
@*
    User navigacijos juosta
*@


@if (User.Identity.IsAuthenticated)
{
    <li>
        <a asp-controller="Messages" asp-action="Index">
            Pranešimai
            <span class="badge badge-light" id="unreadCount">
                0
            </span>
        </a>
    </li>


}